style.header h1
 {
  padding: 80px; 
  text-align: center; 
  background: #1abc9c; 
  color: white; 
}


div
 {
  background-attachment: scroll;
}

   /* Increase font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

body {
  background-image: url("images/mywebpage.png") ;
  background-size: cover;
}

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* bkgrd */
}

    /* Style the navigation bar links */
.navbar a {
  float: none;
  display: block; 
  color: white; 
  text-align: center; /* Text centered */
    text-decoration: rgb(180, 167, 92)
}

    /* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

    /* Change color on hover/mouse-over.*/
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; 
}



    /* Column container */
.row { 
  display: flex;
  flex-wrap: wrap;
}

    
    /* Sidebar/left column */
.side {
  flex: 30%; 
  background-color: #f1f1f1; 
  padding: 20px; 
}

/* Main column */
.main { 
  flex: 70%; 
  background-color: white; 
  padding: 20px; 
}

  .row { 
    flex-direction: column;
  }


.footer {
  padding: 20px; 
  text-align: center; 
  background: #ddd; 
}


    /*<a href="mailto:wenjen10@yahoo.com"
      content: "📧 ";
    
    a[href^="tel"]::before 
      content: "📞 ";
    }*/